name: Build and Push Docker Image

on:
  push:
    branches:
      - main
    paths:
      - 'backend/**'
      - '.github/workflows/docker.yml'
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: false
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/animal-recognizer-api:latest
            ${{ secrets.DOCKER_USERNAME }}/animal-recognizer-api:${{ github.sha }}
          outputs: type=docker,dest=/tmp/image.tar

      - name: Load Docker image
        run: docker load --input /tmp/image.tar

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker image to Docker Hub
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/animal-recognizer-api:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/animal-recognizer-api:${{ github.sha }}

  deploy:
      needs: build-and-push
      runs-on: ubuntu-latest
  
      steps:
        - name: Deploy to EC2
          uses: appleboy/ssh-action@v1.0.3
          with:
            host: ${{ secrets.EC2_HOST }}
            username: ubuntu
            key: ${{ secrets.EC2_SSH_KEY }}
            script: |
              cd ~/ai
              docker compose pull
              docker compose up -d
